deployment:
  role: data_plane
  role_data_plane:
    config_provider: etcd

apisix:
  node_listen: 9080
  enable_ipv6: false

etcd:
  host:
    - "http://etcd:2379"
  prefix: "/apisix"
  timeout: 30

plugins:
  - pii-masker
  - prometheus
  - limit-count
  - key-auth

plugin_attr:
  prometheus:
    export_addr:
      ip: "0.0.0.0"
      port: 9091

