deployment:
  role: traditional
  role_traditional:
    config_provider: etcd
  etcd:
    host:
      - "http://etcd:2379"
    prefix: "/apisix"
    timeout: 30
  admin:
    allow_admin:
      - 0.0.0.0/0
    admin_key:
      - name: admin
        key: edd1c9f034335f136f87ad84b625c88b
        role: admin
    admin_listen:
      ip: 0.0.0.0
      port: 9180

apisix:
  node_listen: 9080
  enable_ipv6: false

plugins:
  - prometheus
  - limit-count
  - key-auth
  - opentelemetry

plugin_attr:
  prometheus:
    export_addr:
      ip: "0.0.0.0"
      port: 9091
